EMBEDDING_MODEL=mxbai-embed-large
CHAT_MODEL=llama3.2:3b
MODEL_PROVIDER=ollama

#BRIGHTDATA_API_KEY=abcxyz123

DATASET_STORAGE_FOLDER=datasets/
SNAPSHOT_STORAGE_FILE=snapshot.txt

DATABASE_LOCATION=chroma_db
COLLECTION_NAME=rag_data